<h2 *ngIf='display2'>Meus heróis</h2>
<h2><ngx-skeleton-loader *ngIf='!display2'
[theme]="{
  width: '6em',
  height: '1.2em'
}">
</ngx-skeleton-loader></h2>

<ngx-skeleton-loader *ngIf='!display2'
[theme]="{
  width: '23em',
  height: '1.6em'
}">
</ngx-skeleton-loader>
<div *ngIf='display2'>
  <label>Nome do herói:
    <input #heroName />
  </label>
  <button (click)="add(heroName.value); heroName.value=''">
    Adicionar
  </button>
</div>

<ul class="heroes">
<ngx-skeleton-loader *ngIf='!display2' count="10"
[theme]="{
  height: '1.8em'
}">
 </ngx-skeleton-loader>

  <li *ngFor="let hero of heroes ">
    <a routerLink="/detail/{{hero.id}}">
      <span class="badge">{{hero.id}}</span> {{hero.name}}
    </a>
    <button class="delete" title="delete hero"
      (click)="delete(hero)">x</button>
  </li>
</ul>
